.form{
	display: flex;
	margin:0 2rem;


}
.submit-button{
	display: flex;
	align-items: center;
	justify-content: center;
	width:40px;
	height:40px;
	background: none;
	border-radius: 50%;
	border:2px solid #3b3b3b;
	margin-left:-2.5rem;
	cursor: pointer;
}
.small-loader {
  width:20px;
	height:20px;
	 border: 2px solid #f3f3f3;
	border-top: 2px solid #000;
	border-radius: 50%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (min-width:800px){
	.form-input{
	width:300px;
	}
}

@media only screen and (min-width:1080px){
	.form{
		transform: translateX(-50%);
	}
	.form-input{
	width:400px;
	}
}
